In [45]:
import  pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import Ridge
from sklearn.feature_extraction import DictVectorizer
from scipy.sparse import hstack

In [62]:
data_train = pd.read_csv('salary-train.csv')
data_train.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,International Sales Manager London ****k ****...,London,permanent,33000
1,An ideal opportunity for an individual that ha...,London,permanent,50000
2,Online Content and Brand Manager// Luxury Reta...,South East London,permanent,40000
3,A great local marketleader is seeking a perman...,Dereham,permanent,22500
4,Registered Nurse / RGN Nursing Home for Young...,Sutton Coldfield,NaN,20355

In [61]:
def preprocessData(data):
    data['FullDescription'] = data['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)
    for index in ['FullDescription', 'LocationNormalized', 'ContractTime']:
        data[index] = data[index].str.lower()
        data[index].fillna('nan', inplace=True)
    return data

In [63]:
data_train = preprocessData(data_train)

In [64]:
vectorize = TfidfVectorizer(min_df=5)
r1 = vectorize.fit_transform(data_train['FullDescription'])

In [95]:
enc = DictVectorizer()
r2 = enc.fit_transform(data_train[['LocationNormalized', 'ContractTime']].to_dict('records'))

In [96]:
X = hstack([r1,r2])

In [97]:
y = data.SalaryNormalized

In [98]:
clf = Ridge(alpha=1, random_state=241)
clf.fit(X, y)

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=241, solver='auto', tol=0.001)

In [99]:
data_test = pd.read_csv('salary-test-mini.csv')
data_test = preprocessData(data_test)

In [100]:
r3  = vectorize.transform(data_test['FullDescription'])
r4 = enc.transform(data_test[['LocationNormalized','ContractTime']].to_dict('records'))

In [101]:
data_test.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,we currently have a vacancy for an hr project ...,milton keynes,contract,NaN
1,a web developer opportunity has arisen with an...,manchester,permanent,NaN

In [102]:
X_test = hstack([r3,r4])

In [103]:
y_test = clf.predict(X_test)

In [105]:
print(y_test)

[56555.61500155 37188.32442618]